---
layout: archive
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---
{% include base_path %}


<!DOCTYPE html>
<html>
  
<head>
    <title>PDF in HTML</title>
</head>
  
<body>
    <center>
        <h1 style="color: green">GeeksforGeeks</h1>
        <h3>Embedding the PDF file Using Object Tag</h3>
        <object data="files/cv_umut_demir-2.pdf" 
                width="800" 
                height="500"> 
        </object>
    </center>
</body>
  
</html>

<!-- <header>
  <h1><span style="color: #5499C7;">Education</span></h1>
<hr color = "#5499C7" size="4">

B.Sc. in Astronautical Engineering, Istanbul Technical University <div style='float: right; text-align: right'> 2020 </div>  <br>
M.Sc. in Aerospace Engineering, Istanbul Technical University. <div style='float: right; text-align: right'> 2022</div>


<header>
<h1> <span style="color: #5499C7;">Experience </span>  </h1>
<hr color = "#5499C7" size="4">

<header>
<h2>Research Engineer at ITU Artificial Intelligence and Data Science Application and Research Center <div style='float: right; text-align: right'>May 2020 - Present</div></h2> 


 <header>
 <h3> Presidency of Defence Industries of Turkey: Swarm to Swarm Air Combat  <div style='float: right; text-align: right'> June 2022 - Present</div> </h3>
  <ul><li> Supervisor: Assoc. Prof. Dr. Nazim Kemal Ure</li> </ul> 

  This project focuses on development of swarm to swarm air combat strategies with state-of-the-art methos such as Deep
  Reinforcement Learning, Game Theory and Control Theory.
<header>
<h3> Aselsan: Weapon Task Allocation Optimization <div style='float: right; text-align: right'> Jan 2022 - Present  </div> </h3>

  <ul><li> Supervisor: Assoc. Prof. Dr. Nazim Kemal Ure</li> </ul> 

  Ground to Air Weapon Optimization, Trajectory Prediction
<header>
<h3> Turkish Aerospace Industries Inc.:Figther Aircraft Pilot Behavior Clonning <div style='float: right; text-align: right'>  May 2020 - Jun 2022 </div> </h3>

  <ul><li> Supervisor: Assoc. Prof. Dr. Nazim Kemal Ure</li> </ul> 

  This project focuses on development of deep neural network models for behavioral cloning of fighter aircraft maneuvers.

  We focus on active learning methods where the data is obtained from Hurjet Aircraft controlled by real fighter pilots with in an interactive manner.

  Our research utilizes Deep Reinforcement Learning, Imitation Learning, Transfer Learning, Curriculum Learning and Optimal Control Theory methods and the results show that our method can produce better agile maneuvers than real fighter pilots. Two Journal papers are on the way.

<header>
<h2> Co-Founder/CEO at Orbyte Aerospace Technologies <div style='float: right; text-align: right'> Jul 2021 - Present </div> </h2>

  Orbyte Aerospace Technologies was founded in Istanbul in 2021 with the initial purpose of providing assistance for spacecraft missions and the eventual goal of playing a significant role in deep space exploration.

  Orbyte offers high-fidelity space simulation software, which powered with AI, that answers to all needs of both LEO and extraterrestrial mission design. 

  Orbyte is recieved 200,000 Turkish Liras support from The Scientific and Technological Research Council of Turkey.

<header>
<h2> Undergraduate Researcher at ITU Aerospace Research Center <div style='float: right; text-align: right'>  June May 2019 - May 2020 </div>  </h2>
<header>
<h3> Aselsan: Probabilistic Trajectory Prediction for Structured and Coordinated Attack Patterns  </h3>
  
  <ul><li> Supervisor: Assoc. Prof. Dr. Nazim Kemal Ure</li> </ul> 

  In this project we develop fast and efficient machine learning algorithms for predicting future maneuvers and positions of threats executing structured attack patterns.

<header>
<h2> Research Intern at Polish Academy of Sciences/Space Mechatronics and Robotics Laboratory - Jun 2018 -  Aug 2018 </h2>
  Dr. Tomasz Barcinski, the head of the Space Mechatronics and Robotics Laboratory, and I worked on a project to capture a tumbling, uncooperative spacecraft in on-orbit environment with an another spacecraft.

<header>
<h2> Intern at Turkish Aerospace Industries Space AIT Center   <div style='float: right; text-align: right'> Jun 2017 -  Aug 2017 </div> </h2>

  * Designed an instrument for the application of multi layer insulation to Turksat 5A Satellite.
  * Attended to the thermal vacuum tests, vibration tests and electromagnetic compatibility tests for satellite systems. 
  * I learned about principles of theodolites and spatial analyzer techniques and gave 2 hours long lecture/presentation to Space Systems AIT Center engineers, technicians and administrators.


<header>
  <h1><span style="color: #5499C7;">Activities</span></h1>
<hr color = "#5499C7" size="4">

<header>
<h3> Astronautical Engineering Project  <div style='float: right; text-align: right'> 2018 - 2019 </div> </h3>
<ul>
  <li> 3rd Place, AIAA 2018-2019 Space Design Competition </li>
</ul>  
    Multi-Use Lunar Transportation Vehicle Utilizing Deep Space Gateway is a design project of a space vehicle that will be operated from the Deep Space Gateway to the lunar surface.

<header>
<h3> Pars Rocket Team Avionics Member <div style='float: right; text-align: right'> 2015 -2 017 </div> </h3>
<ul>
  <li> 6th Place from 78 Teams - Intercollegiate Rocket Engineering Competition (IREC) 2016 </li>
  <li> Designed and manufactured the first hybrid rocket in Turkey </li>
</ul>  

<h3> Turkish Technology Team Foundation Scholar<div style='float: right; text-align: right'> 2016 - 2017 </div> </h3>
<ul>
  <li> Programming language instructor for disadvantaged children </li>
</ul>  

<header>
  <h1><span style="color: #5499C7;">Publications</span></h1>
<hr color = "#5499C7" size="4">

<ul>{% for post in site.publications reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul> -->
